@{
    ViewData["Title"] = "Home Page";
}

@if (Context.Request.Cookies["Username"] != null)
{
    <span>
        @Context.Request.Cookies["Username"].ToUpper() Hoş geldiniz...
    </span>
}

<div class="row" style="margin-top:50px">

    <div class="container col-6">
        @await Component.InvokeAsync("CalisanAvanslar")
    </div>

    <div class="container col-6">
        @await Component.InvokeAsync("ResmiTatil")
    </div>
</div>