
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutZiyaretci";
}

<div class="preloader">
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
</div>
<main class="<!--site-wrapper-->">
    <div class="pt-table">
        <div class="pt-tablecell page-home relative">
            @*<div class="overlay"></div>*@
            <div class="container" style="margin:auto">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" style="margin:auto">
                        <div class="page-title home text-center">
                            <h2><span class="border-secondary">WELCOME</span><span class="title-bg">WELCOME</span></h2>
                            <p>A product designer from England, who focuses on interactive design &amp; A freelance designer focusing on typography &amp; clean interfaces. Also works in Google.</p>
                        </div>
                        <div class="hexagon-menu clear">
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="#about" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="title">Hakkımızda</span>
                                    </span>
                                    <svg height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="transparent"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="#plan" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="title">Planlarımız</span>
                                    </span>
                                    <svg height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="transparent"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="#yorum" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="title">Kullananlar</span>
                                    </span>
                                    <svg height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="transparent"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a asp-controller="Login" asp-action="Index" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="title">Gİriş Yap</span>
                                    </span>
                                    <svg height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="transparent"></path></svg>
                                </a>
                            </div>
                            <div class="hexagon-item" style="cursor:auto">
                            </div>
                            <div class="hexagon-item" style="cursor:auto">
                            </div>
                            <div class="hexagon-item" style="cursor:auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="about">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="page-title home text-center">
                    <h2><span class="border-secondary" style="margin-left:50%">Hakkımızda</span><span class="title-bg">Hakkımızda</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="kullanici">
                    <div class="item clear row">
                        <div class="text text-center col" style="margin-top:40px; margin-left:20px">

                            <p>Biz üç kişiydik, Sinem, Uğur Can ve Doğukan</p>
                            <p>Üç ağız, üç yürek, üç yeminli coder</p>                     <p>Adımız coder diye yazılmıştı LinkedIn'e, Kariyer.netlere</p>
                            <p>Boynumuzda ağır vebal, gözümüzde gözlük</p>
                            <p> Bir el klavyede, bir el mouse'da ve projemiz stackoverflow'a emanet</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="plan"></span>
    @await Component.InvokeAsync("UyelikPlanlari")
    <span id="yorum"></span>
    @await Component.InvokeAsync("Yorumlar")

</main>

