<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Bootstrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="~/Bootstrap4/HomeCss/themefisher-fonts.min.css" rel="stylesheet" />
    <link href="~/Bootstrap4/HomeCss/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Bootstrap4/HomeCss/main.css" rel="stylesheet" />
    <link href="~/Bootstrap4/HomeCss/dark.css" rel="stylesheet" />
    <link href="~/Bootstrap4/HomeCss/blue.css" rel="stylesheet" />
    <style>
        .container {
            margin-right: unset
        }

        .dark {
            background-image: linear-gradient(to left bottom,#FFBD8B,#284F47);
        }

            .dark .page-home .overlay {
                background-image: linear-gradient(to left bottom,#FFBD8B,#284F47);
            }

            .dark .page-title h2 {
                color: #ffffff;
            }


            .dark .page-title .title-bg {
                color: /*rgba(70, 88, 124, 0.06)*/ rgb(70 88 124 / 31%)
            }

            .dark .section-title h3::before {
                background-image: linear-gradient(to left bottom,#FFBD8B,#284F47);
            }

            .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
            .dark .about-author .author-desc p {
                color: #fff;
            }

            .dark .service-hex .st0 {
                fill: transparent;
            }

            .dark .service-hex:hover .st0 {
                fill: #596d6e;
            }

            .dark .testimonials .text,
            .dark .btn-border {
                border-color: #112F41;
            }

        .hexagon-item:hover .hex-item div::before, .hexagon-item:hover .hex-item div::after, .btn-primary, .loading-mask, .section-title h3::after, .hexagon-item:hover .hex-item div::before, .hexagon-item:hover .hex-item div::after, .progress .bar, .contact-social li:hover span {
            background-color: #FFBD8B
        }

        .loading-mask {
            position: absolute;
            background-color: #284F47;
        }

        .hex-item div::before, .hex-item div::after {
            background-color: #284F47
        }

        .page-title p {
            color: white;
        }
    </style>
</head>
<body class="dark">
    <span id="top"></span>
        @RenderBody()
    <footer class="fixed-bottom" style="bottom:30px">
        <a href="#top">Back to top</a>
    </footer>
    <script src="~/Bootstrap4/HomeCss/jquery-2.2.4.min.js"></script>
    <script src="~/Bootstrap4/js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.easing.min.js"></script> -->
    <script src="~/Bootstrap4/HomeCss/isotope.pkgd.min.js"></script>
    <script src="~/Bootstrap4/HomeCss/jquery.nicescroll.min.js"></script>
    <script src="~/Bootstrap4/HomeCss/owl.carousel.min.js"></script>
    <script src="~/Bootstrap4/HomeCss/jquery-validation.min.js"></script>
    <script src="~/Bootstrap4/HomeCss/form.min.js"></script>
    <script src="~/Bootstrap4/HomeCss/main.js"></script>
</body>
</html>
